body{
    background-image: url("../images/uhohredline.png");
}

.jumbotron{
    background-color:royalblue;
    color: black;
    border: 5px grey solid;
    font: 2em arial,sans-serif;
}

.ride{
    font-size: 40px;
    color: rebeccapurple;
}

.panel-body{
    border: 5px grey solid;
}

.current, .add{
    background-color: mediumpurple;;
    color: black;
    font-size: 20px;
    font: bold;

}

#trainNameInput, #destinationInput, #timeInput, #frequencyInput{
    color: black;
    font-size: 18px;
    background-color:royalblue;
}

.form-group{
    color:black;
    font-size: 20px
}

.btn{
    background-color: thistle;
}